<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ambientes de Arquitectura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <button [routerLink]="['/directorio']" class="btn btn-danger">Regresar</button>
  <div id="container">
    <ion-row>
      <ion-col sizeXs="12" *ngFor="let item of ambientesarq" >
          <button [routerLink]="['/arquitectura',item.id]" class="btn">{{item.name}}</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
