<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ambientes de EPII</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <button [routerLink]="['/directorio']" class="btn btn-danger">Regresar</button>
  <!--<div id="container">
    <button class="btn">Oficina de la Escuela Profesional de Ingeniería Industrial</button>
    <br><br>
    <button class="btn">Control y Automatización-EPII</button>
    <br><br>
    <button class="btn">Control de Procesos y Planta Piloto Industrial-EPII</button>
  </div>-->
  <div id="container">
    <ion-row>
      <ion-col sizeXs="12" *ngFor="let item of ambientesind" >
          <button [routerLink]="['/industrial',item.id]" class="btn">{{item.name}}</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
