<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Directorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Directorio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <button [routerLink]="['/s-ambientes']" class="btn">Escuela Sistemas</button>
    <br><br>
    <button [routerLink]="['/i-ambientes']"class="btn">Escuela Industrial</button>
    <br><br>
    <button [routerLink]="['/c-ambientes']"class="btn">Escuela Civil</button>
    <br><br>
    <button [routerLink]="['/ar-ambientes']"class="btn">Escuela Arquitectura</button>
    <br><br>
    <button [routerLink]="['/a-ambientes']"class="btn">Escuela Aeronautica</button>
    <br><br>
    <button [routerLink]="['/ofi-ambientes']" class="btn">Oficinas Administrativas</button>
  </div>

<!--<div id="container">
  <ion-row>
    <ion-col sizeXs="12" *ngFor="let item of ambientes">
        <button [routerLink]="['/s-ambientes']" class="btn">{{item.name}}</button>
        <br><br>
    </ion-col>
  </ion-row>
</div>-->

</ion-content>
