<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ambientes en la EPICS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<button [routerLink]="['/directorio']" class="btn btn-danger">Regresar</button>

  <!--<div id="container">
    <button class="btn">Laboratorio de Software y Tecnologia Interactivas-EPICS</button>
    <br><br>
    <button class="btn">Labotatorio de Base de datos y Business Intelligence- EPICS</button>
    <br><br>
    <button class="btn">Laboratorio de Inteligencia Artificial y Robótica-EPICS</button>
    <br><br>
    <button class="btn">Oficina de la Escuela Profesional de Ingeniería de Computación y Sistemas</button>
  </div>-->

  <div id="container">
    <ion-row>
      <ion-col sizeXs="12" *ngFor="let item of ambientessis" >
          <button [routerLink]="['/sistemas',item.id]" class="btn">{{item.name}}</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
